<h1 class="title"><%= @attraction.name %></h1>
<div class="details">
  <div class="row">
    <div class="col-md-6">
      <h2>Description: </h2>
      <p><%= @attraction.description %></p>
    </div>
    <div class="col-md-6">
      <h2>Price: </h2>
      <% if @attraction.price %>
        <p>$<%= sprintf('%.2f', @attraction.price) %></p>
      <% else %>
        <p>No price listed</p>
      <% end %>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-6">
      <h2>Seasons: </h2>
      <ul>
        <% if @attraction.season %>
          <% @attraction.season.each do |each_season| %>
            <li><%= each_season %> </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Tags: </h2>
      <ul>
        <% @attraction.tags.each do |tag| %>
          <li><%= tag["name"] %> </li>
        <% end %>
      </ul>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <a href="/">Home page</a>
  </div>
</div>
