<div class="description">
  <% if @tags_list.any %>
    <h4>Searching tags: <em> <%= @tags_list %></em></h4>
  <% end %>
  <% if @seasons_list.any %>
   <h4>Searching seasons: <em> <%= @seasons_list %></em></h4>
  <% end %>
  <% if @prices_list.any %>
   <h4>Searching price: <em> <%= @prices_list %></em></h4>
  <% end %>
  <br>
  <br>
  <h3>Attractions:</h3>
  <% if @attractions.any?() %>
    <ul>
      <% @attractions.each do |attraction| %>
      <li><a href="/attractions/<%= attraction.id() %>"><%= attraction.name() %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no attractions matching this criteria! Try again!</p>
  <% end %>
</div>
<br>
<br>
<a href="/">Home page</a>
